div.calendar { 
background-image:url('calendar.png');
float:left;
width:50px;
height:50px;
}
div.calendar span.month { 
width:50px; 
padding-top:2px;
text-align:center;
font:bold 10px sans-serif; 
color:#ffffff; 
display:block; 
}
div.calendar span.day {  
width:50px; 
padding-top:5px;
text-align:center;
font:bold 20px sans-serif; 
color:#ae0000; 
display:block;
}
